@page
@using DotNetNote.Conponents
@model DotNetNote.Pages.Portfolio.PortfolioListModel

@{
    //Layout = "_Layout"; //  _ViewStart.cshtml 에 설정해 놓아서 지정해주지 않아도 괜찮다. 
}
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@ @*주석처리 ctrl+k+c*@



            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Our Work</h1>
                        <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
                    </div>
                    <div class="row gx-5">

                        @foreach (var portfolio in Model.Portfolios)//백파일클래스 사용 
                        {
                            <div class="col-lg-4 mb-5" >
                                <div class="card h-100 shadow border-0">
                                    <img class="card-img-top img-fluid" src=@portfolio.Image alt="..." />
                                    <div class="card-body p-4">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                        <a class="text-decoration-none link-dark stretched-link" asp-page="/Blog/BlogDetail" asp-route-id=@portfolio.Id><h5 class="card-title mb-3">@portfolio.Title</h5></a>
                                        <p class="card-text mb-0">@portfolio.Description</p>
                                    </div>
                                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                                <div class="small">
                                                    <div class="fw-bold">Kelly Rowan</div>
                                                    <div class="text-muted">March 12, 2022 &middot; 6 min read</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr/> 
                        @*블레이져 컴포넌트 사용*@
                        <component type="typeof(PortfolioList)" render-mode = "ServerPrerendered"/>
                    </div>
                </div>


            </section>




            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
                </div>
            </section>
       